#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  color: rgb(255, 255, 255);
}

#fact-container {
  margin-top: 20px;
}

body {
    background-color: rgb(33, 43, 54);
}

h2 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

a {
    color: rgb(231, 219, 219);
}